<template>
  <footer class="mt-24 py-10 bg-dark">
    <div class="flex justify-center items-center">
      <p class="text-white">View it on</p>
      <a href="https://gitlab.com" class="ml-2 w-16">
        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58 17">
          <g clip-path="url(#a)">
            <path d="M40.759 3.908h-1.233l.006 9.178h4.992V11.95h-3.76l-.006-8.042Zm8.515 7.567a2.101 2.101 0 0 1-1.526.644c-.938 0-1.317-.463-1.317-1.068 0-.909.633-1.344 1.979-1.344.254 0 .661.029.87.068v1.7h-.006Zm-1.278-5.563c-.995 0-1.91.35-2.622.943l.435.757c.503-.294 1.12-.587 2.007-.587 1.012 0 1.459.52 1.459 1.389v.446a5.653 5.653 0 0 0-.854-.067c-2.16 0-3.257.756-3.257 2.337 0 1.418.87 2.13 2.188 2.13.888 0 1.742-.407 2.036-1.068l.226.899h.87v-4.7c-.006-1.485-.65-2.48-2.488-2.48Zm6.465 6.25c-.464 0-.87-.057-1.175-.199V7.722c.418-.35.938-.604 1.6-.604 1.192 0 1.65.841 1.65 2.202 0 1.932-.74 2.841-2.075 2.841Zm.52-6.248c-1.102 0-1.696.752-1.696.752V5.479l-.006-1.57h-1.204l.007 8.952c.604.255 1.43.39 2.328.39 2.301 0 3.41-1.469 3.41-4.004-.006-2.006-1.03-3.333-2.838-3.333ZM27.34 4.904c1.09 0 1.798.361 2.256.728l.53-.92c-.717-.633-1.69-.972-2.73-.972-2.623 0-4.46 1.599-4.46 4.823 0 3.378 1.984 4.693 4.251 4.693a7.233 7.233 0 0 0 2.736-.53l-.028-3.61V7.982H26.53v1.136h2.149l.028 2.74c-.283.14-.77.253-1.43.253-1.82 0-3.042-1.146-3.042-3.558-.006-2.457 1.255-3.649 3.104-3.649Zm8.68-.998h-1.204l.006 1.542v5.326c0 1.486.644 2.48 2.48 2.48.255 0 .505-.023.742-.068v-1.079a3.531 3.531 0 0 1-.56.04c-1.012 0-1.459-.52-1.459-1.39v-3.67h2.02V6.08h-2.02l-.005-2.175Zm-4.267 9.18h1.204V6.082h-1.204v7.004Zm0-7.97h1.204V3.914h-1.204v1.202Z" fill="#8C929D"/>
            <path d="m9.837 17.276 3.517-10.805H6.326l3.51 10.805Z" fill="#E24329"/>
            <path d="M1.4 6.471.33 9.754a.726.726 0 0 0 .263.813l9.244 6.71L1.4 6.47Z" fill="#FCA326"/>
            <path d="M1.4 6.47h4.926L4.206-.036c-.108-.333-.58-.333-.693 0L1.401 6.471H1.4Z" fill="#E24329"/>
            <path d="m18.28 6.471 1.066 3.283a.726.726 0 0 1-.263.813l-9.246 6.71L18.28 6.47Z" fill="#FCA326"/>
            <path d="M18.28 6.47h-4.926L15.47-.036c.108-.333.58-.333.693 0l2.116 6.508Z" fill="#E24329"/>
            <path d="m9.837 17.276 3.517-10.805h4.925L9.837 17.276Zm0 0L1.4 6.471h4.926l3.511 10.805Z" fill="#FC6D26"/>
          </g>
          <defs>
            <clipPath id="a">
              <path fill="#fff" d="M0 0h58v17H0z"/>
            </clipPath>
          </defs>
        </svg>
      </a>
    </div>
  </footer>
</template>

<script>
export default {
}
</script>
