<template>
  <div class="flex flex-col lg:flex-row container px-8">
    <form action="" class="pt-4 flex flex-col lg:w-1/2 lg:pr-12 xl:w-1/2 2xl:w-1/3">
      <div class="pt-6 flex flex-col">
        <label class="font-bold text-gray">First name</label>
        <input type="text" v-model="name" name="Name" id="name" class="border border-gray-light rounded focus:outline-none focus:ring-1 focus-visible:ring-atlantis focus:ring-atlantis"/>
      </div>
      <div class="pt-6 flex flex-col">
        <label class="font-bold text-gray">Surname</label>
        <input type="text" v-model="surname" name="Surname" id="surname" class="border border-gray-light rounded focus:outline-none focus:ring-1 focus-visible:ring-atlantis focus:ring-atlantis"/>
      </div>
      <div class="pt-6 flex flex-col">
        <label class="font-bold text-gray">Job Title</label>
        <input type="text" v-model="job" name="Job" id="job" class="border border-gray-light rounded focus:outline-none focus:ring-1 focus-visible:ring-atlantis focus:ring-atlantis"/>
      </div>
      <div class="pt-6 flex flex-col">
        <label class="font-bold text-gray">Phone number</label>
        <input type="text" v-model="phone" name="Phone" id="phone" class="border border-gray-light rounded focus:outline-none focus:ring-1 focus-visible:ring-atlantis focus:ring-atlantis"/>
      </div>
      <div class="pt-6 flex flex-col">
        <label class="font-bold text-gray">Email address</label>
        <input type="text" v-model="email" name="Email" id="email" class="border border-gray-light rounded focus:outline-none focus:ring-1 focus-visible:ring-atlantis focus:ring-atlantis"/>
      </div>
      <div class="mt-8 flex justify-between">
        <button type="button" class="py-2 px-5 rounded font-bold text-charcoal text-sm uppercase pointer-events-none" :class="{'bg-wattle hover:bg-wattle-light pointer-events-auto' : generate , 'bg-gray-light' : !generate}" @click="downloadSignature">Download</button>
      </div>
    </form>
    <div class="mt-11 w-full lg:w-1/2 2xl:w-2/3 2xl:ml-24">
      <p class="font-bold text-charcoal">Preview</p>
      <div v-if="name || surname || job || phone || email" class="mx-auto mt-10 pt-4 pb-4 pl-4 pr-3 max-w-sm xl:w-1/2 flex flex-col border border-gray-light" id="emailSignature">
        <div class="flex justify-between">
          <div class="flex flex-col">
            <p class="text-xl font-bold text-atlantis leading-none">{{ name }} {{ surname }}</p>
            <p class="font-bold text-charcoal">{{ job }}</p>
            <p class="text-sm text-gray">{{ email }}</p>
            <p v-if="phone" class="text-sm text-gray">{{ phone }}</p>
          </div>
          <div class="w-11">
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 57">
              <path d="M7.38 50.015H5.855l-4.077-6.772-.037.013v6.755H.207v-9.268h1.534l4.071 6.764.039-.013v-6.75h1.525v9.27h.004ZM15.843 45.844h-4.017v2.928h4.66v1.243h-6.19v-9.271h6.147v1.243H11.83v2.618h4.017v1.239h-.004ZM21.78 44.168l1.937-3.424h1.815l-2.824 4.595 2.934 4.676H23.8l-1.992-3.484-1.991 3.484h-1.816l2.887-4.676-2.828-4.595h1.803l1.916 3.424ZM34.76 40.744v6.216c0 1.027-.332 1.816-.996 2.368-.664.551-1.534.823-2.605.823-1.05 0-1.904-.276-2.555-.828-.651-.551-.979-1.34-.979-2.363v-6.216h1.534v6.212c0 .65.18 1.137.542 1.464.361.326.849.488 1.458.488.63 0 1.134-.162 1.508-.488.374-.327.563-.815.563-1.464v-6.212h1.53ZM42.47 47.626a1.2 1.2 0 0 0-.424-.946c-.286-.246-.786-.467-1.504-.658-1.026-.271-1.815-.632-2.366-1.078-.555-.45-.828-1.035-.828-1.76 0-.747.307-1.363.916-1.846.605-.488 1.395-.73 2.362-.73 1.008 0 1.82.276 2.433.823.613.552.907 1.21.886 1.977l-.012.039h-1.47c0-.476-.16-.862-.48-1.155-.32-.297-.777-.441-1.37-.441-.559 0-.987.123-1.29.37a1.17 1.17 0 0 0-.45.954c0 .352.165.645.488.878.328.234.866.454 1.618.662.987.268 1.74.636 2.252 1.108.513.47.769 1.073.769 1.803 0 .772-.307 1.388-.916 1.841-.614.459-1.416.684-2.412.684-.958 0-1.799-.26-2.521-.773-.723-.517-1.076-1.218-1.055-2.108l.013-.039h1.475c0 .565.193.985.58 1.265.386.28.89.416 1.508.416.567 0 1.009-.115 1.324-.344.315-.238.474-.551.474-.942ZM2.548 53.838H.905v1.617H.278v-3.79h2.534v.51H.904v1.158h1.644v.505ZM4.594 53.885v1.574h-.626v-3.79h1.387c.42 0 .743.098.97.285.227.19.345.462.345.819a.84.84 0 0 1-.152.505c-.1.14-.247.254-.44.34a.81.81 0 0 1 .458.33c.092.153.138.344.138.565v.314c0 .11.013.22.042.326.03.106.076.187.139.242v.06h-.643a.45.45 0 0 1-.135-.272 2.15 2.15 0 0 1-.03-.36v-.306a.641.641 0 0 0-.163-.463.6.6 0 0 0-.454-.174h-.836v.005Zm0-.51h.727c.252 0 .433-.046.55-.144.114-.097.173-.246.173-.445 0-.191-.06-.34-.168-.45-.114-.11-.286-.161-.517-.161h-.76v1.2h-.005ZM11.015 53.902c0 .462-.143.848-.433 1.15-.286.305-.66.458-1.122.458-.45 0-.815-.153-1.097-.458-.281-.306-.42-.688-.42-1.15v-.683c0-.463.139-.845.42-1.15.282-.306.647-.459 1.093-.459.458 0 .832.153 1.122.459.29.305.432.687.432 1.15v.683h.005Zm-.622-.688c0-.313-.084-.577-.252-.776a.836.836 0 0 0-.681-.306.785.785 0 0 0-.651.306c-.16.204-.24.462-.24.776v.688c0 .318.08.581.24.785.16.203.378.305.655.305a.837.837 0 0 0 .68-.305c.165-.204.248-.467.248-.785v-.688ZM15.254 55.455h-.622l-1.663-2.767-.017.004v2.763h-.63v-3.79h.626l1.663 2.763.017-.005v-2.758h.622v3.79h.004ZM19.267 52.175h-1.134v3.28h-.626v-3.28h-1.135v-.51h2.895v.51ZM20.914 55.455h-.626v-3.79h.626v3.79ZM24.667 53.749h-1.643v1.196h1.903v.51h-2.53v-3.79h2.514v.51h-1.887v1.069h1.643v.505ZM26.848 53.885v1.574h-.627v-3.79h1.387c.42 0 .744.098.97.285.228.19.346.462.346.819 0 .195-.051.365-.152.505-.1.14-.248.254-.441.34.21.067.361.177.458.33.092.153.139.344.139.565v.314c0 .11.012.22.042.326.029.106.075.187.138.242v.06h-.643a.45.45 0 0 1-.134-.272c-.02-.12-.03-.24-.03-.36v-.306a.64.64 0 0 0-.164-.463.598.598 0 0 0-.453-.174h-.836v.005Zm0-.51h.727c.252 0 .432-.046.55-.144.113-.097.172-.246.172-.445a.612.612 0 0 0-.168-.45c-.113-.11-.286-.161-.517-.161h-.76v1.2h-.004ZM32.546 52.175H31.41v3.28h-.626v-3.28H29.65v-.51h2.895v.51ZM35.802 53.749h-1.643v1.196h1.904v.51h-2.53v-3.79h2.513v.51h-1.887v1.069h1.643v.505ZM39.958 54.198l.004.018c.008.381-.118.695-.37.937-.252.242-.596.36-1.03.36-.436 0-.793-.147-1.067-.445-.273-.297-.411-.678-.411-1.14v-.722c0-.463.134-.84.407-1.142.27-.3.622-.45 1.055-.45.441 0 .794.12 1.046.353.257.233.379.551.374.95l-.004.017h-.605c0-.254-.068-.454-.206-.594-.139-.144-.336-.212-.605-.212a.72.72 0 0 0-.61.305c-.15.204-.227.463-.227.769v.725c0 .314.076.569.232.777a.73.73 0 0 0 .621.305c.261 0 .459-.072.589-.212.134-.14.202-.34.202-.594h.605v-.004ZM44 55.455h-.622v-1.617h-1.68v1.617h-.627v-3.79h.626v1.668h1.681v-1.667H44v3.789Z" fill="#000"/>
              <path d="M29.21 37.627V0H1.48l22.306 37.627h5.425ZM0 37.627h17.748L0 7.451v30.176ZM44 0h-9.613v37.627h9.612V0H44Z" fill="#D6DB51"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import html2canvas from 'html2canvas'
export default {
  data () {
    return {
      name: '',
      surname: '',
      job: '',
      phone: '',
      email: '',
      generatedSignature: '',
      generate: false,
      downloadable: false
    }
  },
  methods: {
    downloadSignature () {
      if (this.generate === true) {
        const emailSignature = document.getElementById('emailSignature')
        const downloadLink = document.createElement('a')
        let img
        html2canvas(emailSignature).then((canvas) => {
          const element = canvas
          img = element.toDataURL('image/jpeg')
        }).then(() => {
          document.body.appendChild(downloadLink)
          downloadLink.setAttribute('download', `Email signature - ${this.surname}, ${this.name}`)
          downloadLink.setAttribute('href', `${img}`)
          console.log(downloadLink)
          downloadLink.click()
          document.body.removeChild(downloadLink)
        })
      }
    },
    checkForm (e) {
      if (this.name && this.surname && this.job && this.email) {
        this.generate = true
      }
    }
  },
  watch: {
    name () {
      if (this.name.length > 0) {
        this.generate = true
      } else {
        this.generate = false
      }
    }
  }
}
</script>
