<template>
  <header class="bg-light">
    <div class="container px-8 pt-11 flex flex-col 2xl:pb-6 md:flex-row 2xl:justify-between md:items-center">
      <h1 class="flex-nowrap flex-shrink-0 text-2xl lg:text-3xl font-bold text-charcoal leading-none">Email signature <br><span class="text-atlantis">generator</span></h1>
      <p class="pt-7 pb-10 text-gray lg:text-xl xl:text-2xl md:ml-12 2xl:ml-24 2xl:leading-none md:font-bold md:pt-4">Create your email signature by entering your data below.</p>
    </div>
  </header>
</template>

<script>
export default {
}
</script>
